<%- include('../layout/header', { title: 'To-do list'}) %>
<!--  -->
<%- include('../layout/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">What do you have to do?</h1>
      <h2 class="subtitle">Managing your daily activities</h2>
      <a href="/checklists" class="button is-light is-medium"
        >Go to your to-do list!</a
      >
    </div>
  </div>
</section>

<%- include('../layout/footer') %>
